p {
  text-align: center;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f8f8f8;
}
.conceptG text {
  pointer-events: none;
}
marker {
  fill: #333;
}
.node rect {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}
g.node:hover rect {
  fill: #c8eef1;
}
g.selected rect {
  fill: #fae8ff;
}
g.selected:hover rect {
  fill: #fae8ff;
}
.link {
  fill: none;
  stroke: #00ffff;
  stroke-width: 6px;
  cursor: default;
  transition: all 0.25s;
}
.link.hidden {
  stroke-width: 0;
}
.link.selected {
  stroke: #fff;
}
.link:hover {
  stroke: #fff;
}
.connect-node rect {
  fill: #beffff;
}
a.function-name {
  cursor: pointer;
}
input.function-name {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 6px;
}
.pin-delete {
  cursor: pointer;
}
.pin-delete circle {
  fill: #ff0000;
  transition: all 0.2s ease-in-out;
}
.pin-delete text {
  fill: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 1;
}
.pin-add {
  cursor: pointer;
}
.pin-add circle {
  fill: #008000;
  transition: all 0.2s ease-in-out;
}
.pin-add text {
  fill: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 1;
}
.vanish circle {
  fill: rgba(255, 255, 255, 0);
}
.vanish text {
  opacity: 0;
}
.editor {
  background-color: #000;
  cursor: default;
}
.input circle,
.output circle {
  stroke: #00ffff;
  fill: #000;
  transition: fill 0.25s;
}
.input.connected circle,
.output.connected circle {
  fill: #007070;
}
.node-input circle,
.node-output circle {
  stroke: #00ffff;
  fill: #000;
  transition: fill 0.25s;
}
.node-input.connected circle,
.node-output.connected circle {
  fill: #007070;
}
.node-header path {
  stroke: #00ffff;
  stroke-width: 2;
  fill: #000;
}
.node-header .node-label {
  cursor: pointer;
}
.node-header .node-label .node-function-name {
  cursor: inherit;
  user-select: none;
  font-size: 16px;
  color: #fff;
  fill: #fff;
  transition: all 0.25s;
}
.node-header .node-label:hover .node-function-name {
  fill: #0ff;
}
text {
  font-family: 'Menlo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.node .node-shape {
  fill: #000;
  stroke: #00ffff;
  stroke-width: 2;
}
.node .node-delete circle {
  stroke: none;
  fill: rgba(150, 150, 150, 0);
  transition: all 0.25s;
}
.node .node-delete text {
  fill: rgba(96, 96, 96, 0);
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  transition: all 0.25s;
}
.node:hover .node-delete {
  cursor: pointer;
}
.node:hover .node-delete circle {
  fill: #969696;
}
.node:hover .node-delete text {
  fill: #606060;
}
.node:hover .node-delete:hover circle {
  fill: #ff0000;
}
.node:hover .node-delete:hover text {
  fill: #ffffff;
}
.node .search-results .search-result.selected rect {
  fill: #606060;
  stroke: #000000;
}
.node .search-results .search-result.selected text {
  fill: #ffff00;
}
.node .search-results .search-result rect {
  fill: #000000;
  stroke: #d0d0d0;
  stroke-width: 1px;
  transition: all 0.15s;
}
.node .search-results .search-result text {
  fill: #ffffff;
  transition: all 0.15s;
}
p:focus {
  outline: none;
}
p::-moz-selection {
  background: rgba(0, 0, 255, 0.99);
  color: #00ff88;
}
p::-webkit-selection {
  background: rgba(0, 0, 255, 0.99);
  color: #00ff88;
}
p::selection {
  background: rgba(0, 0, 255, 0.99);
  color: #00ff88;
}
