@stroke-primary:     #00ffff;
@stroke-error:       #ff4040;
@fill-bg:            #000000;
@fill-fg-primary:    #000000;
@fill-fg-hover:      #203030;
@fill-fg-error:      #800000;
@pin-fill-inactive:  #007070;
@pin-fill-active:    @stroke-primary;
@select-color:       @stroke-primary;
@select-hilite:      #009090;
@fill-value:         #a0ffff;
@font-primary:       'Ubuntu','Menlo','Helvetica Neue',Helvetica,Arial,sans-serif;
@text-primary:       #ffffff;
@text-hover:         #00ff00;
@text-editing:       #50ff50;
@text-error:         #ff4040;

@modal-width:  400px;

/**
 * Main body stuff.
 */
body {
  background-color: @fill-bg !important;
  font-family: @font-primary !important;
}

a {
  transition: all 0.25s;
}

.modal {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  border-radius: 20px;
  border: 2px solid @stroke-primary;
  color: #fff;
  h3 {
    margin: 0;
  }
  .modal-header, .modal-body, .modal-footer {
    background: @fill-fg-hover;
    .btn {
      outline: none;
    }
  }
  .modal-header {
    height: 50px;
  }
  .modal-body {
    height: 200px;
  }
  .modal-footer {
    height: 50px;
  }
  button.selectpicker {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: @fill-fg-primary;
    color: @text-primary;
    transition: all 0.25s;
    &:hover, &:active, &:focus {
      background-color: @fill-fg-hover !important;
      color: @text-primary !important;
    }
  }
  .bootstrap-select {
    .dropdown-menu {
      background-color: @fill-fg-primary;
      li {
        a {
          color: @text-primary;
        }
      }
      li {
        &.selected, &:hover {
          a {
            background-color: @stroke-primary;
            color: @fill-fg-primary;
          }
        }
      }
    }
    * {
      outline: none !important;
    }
  }
  input[type="text"] {
    &:focus {
      outline: none;
    }
    background-color: @fill-fg-primary;
    color: @text-primary;
  }
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.navbar {
  background-color: @fill-bg !important;
  height: 40px !important;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  &.editor-toolbar {
    border-bottom: 1px solid white;
  }
  a {
    color: @text-primary !important;
    &:hover {
      color: @text-hover !important;
    }
  }
}

a.function-name {
  width: 200px;
  display: block;
}

input.function-name {
  background: transparent !important;
  color: @text-editing !important;
  outline: none !important;
  border: none !important;
  padding-left: 3px !important;
  padding-top: 5px !important;
}

p {
  text-align: center;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248)
}

.conceptG text {
    pointer-events: none;
}

marker {
  fill: #333;
}

.node rect {
  fill: #F6FBFF;
  stroke: #333;
  stroke-width: 2px;
}

g.selected {
  rect {
    fill: rgb(250, 232, 255);
  }
  &:hover {
    rect {
      fill: rgb(250, 232, 255);
    }
  }
}

.link {
  fill: none;
  stroke: @stroke-primary;
  stroke-width: 6px;
  cursor: default;
  transition: all 0.25s;
  &.hidden {
    stroke-width: 0;
  }
  &.selected {
    stroke: #fff;
  }
  &:hover {
    stroke: #fff;
  }
}

.connect-node {
  rect {
    fill: #beffff;
  }
}

a.function-name {
    cursor: pointer;
}

input.function-name {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.pin-delete {
  cursor: pointer;
  circle {
    transition: all 0.2s ease-in-out;
    fill: @fill-fg-primary;
    stroke: @stroke-primary;
    stroke-width: 1px;
  }
  &:hover {
    circle {
      fill: #f00;
    }
  }
  &:active:not(.vanish) {
    circle {
      fill: #fff;
      stroke: #000;
    }
    text {
      fill: #000;
    }
  }
  text {
    fill: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    opacity: 1;
  }
}

.pin-add {
  cursor: pointer;
  circle {
    transition: all 0.2s ease-in-out;
    fill: @fill-fg-primary;
    stroke: @stroke-primary;
    stroke-width: 1px;
  }
  &:hover {
    circle {
      fill: #080;
    }
  }
  &:active:not(.vanish) {
    circle {
      fill: #fff;
      stroke: #000;
    }
    text {
      fill: #000;
    }
  }
  text {
    fill: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    opacity: 1;
  }
}

.vanish {
  circle {
    fill: rgba(255, 255, 255, 0);
    stroke-width: 0;
  }
  rect {
    fill: rgba(255, 255, 255, 0);
    stroke-width: 0;
  }
  text {
    opacity: 0;
  }
}

.editor {
  background-color: @fill-bg;
  cursor: default;
}

.input, .output {
  circle {
    stroke: @stroke-primary;
    fill: @pin-fill-inactive;
    transition: fill 0.25s;
  }
  &.connected {
    circle {
      fill: @pin-fill-active;
    }
  }
}

.node-header {
  path {
    stroke: @stroke-primary;
    stroke-width: 2;
    fill: #000;
  }
  .node-label {
    cursor: pointer;
    .node-function-name {
      cursor: inherit;
      user-select: none;
      font-size: 16px;
      color: @text-primary;
      fill: @text-primary;
      transition: all 0.25s;
    }
    &:hover {
      .node-function-name {
        fill: @text-hover;
      }
    }
  }
}

text {
  font-family: @font-primary;
}

.node {
  .node-shape {
    fill: @fill-fg-primary;
    stroke: @stroke-primary;
    stroke-width: 2;
    transition: all 0.25s;
  }
  .node-delete {
    circle {
      stroke: none;
      fill: rgba(0, 0, 0, 0);
      transition: all 0.25s;
    }
    text {
      fill: rgba(0, 255, 255, 0);
      font-size: 22px;
      font-weight: bold;
      user-select: none;
      transition: all 0.25s;
    }
  }
  &:hover {
    .node-shape {
      fill: @fill-fg-hover;
    }
    .node-delete {
      cursor: pointer;
      circle {
        fill: @fill-fg-primary;
      }
      text {
        fill: rgba(255, 255, 255, 255);
      }
      &:hover {
        circle {
          fill: rgba(255, 0, 0, 255);
        }
      }
    }
  }
  .search-results {
    .search-result {
      &.selected {
        rect {
          fill: #606060;
          stroke: #000000;
        }
        text {
          fill: #ffff00;
        }
      }
      rect {
        fill: #000000;
        stroke: #d0d0d0;
        stroke-width: 1px;
        transition: all 0.15s;
      }
      text {
        fill: #ffffff;
        transition: all 0.15s;
      }
    }
  }
  .node-input, .node-output {
    circle {
      stroke: @stroke-primary;
      fill: @pin-fill-inactive;
      transition: fill 0.25s;
    }
    .pin-value {
      rect {
        fill: @fill-value;
        stroke-width: 0;
        transition: all 0.25s;
      }
      &:hover, &:active, &.edit {
        rect {
          fill: @fill-fg-hover;
          stroke: @stroke-primary;
          stroke-width: 2px;
        }
        text {
          fill: @text-primary;
        }
      }
      &.error {
        rect {
          fill: @fill-fg-error;
          stroke: @stroke-error;
        }
      }
    }
    &.connected {
      circle {
        fill: @pin-fill-active;
      }
      .pin-value {
        display: none;
      }
    }
  }
}

input.edit {
  color: @text-editing;
  &.error {
    color: @text-error;
  }
}

input.totally-unique-text-edit-class {
  outline: 4px solid red;
}

p:focus {
  outline: none;
}

p::-moz-selection {
  background: @select-hilite;
  color: @select-color;
  font-weight: 900;
}

p::-webkit-selection {
  background: @select-hilite;
  color: @select-color;
  font-weight: 900;
}

p::selection {
  background: @select-hilite;
  color: @select-color;
}

p {
  font-family: @font-primary;
}

.node-title-edit {
  color: @text-editing;
}
