body {
    padding-top: 0 !important;
}

.avatar {
    float: left;
    width: 50px;
    height: 50px;
}

.post-details {
    margin-left: 56px;
}

.post-author {
    font-weight: bold;
    margin-right: 10px;
    display: inline;
}

.post-text {
    display: inline;
    word-wrap: break-word;
}

.post-author a {
    color: #000;
}

#navbar-search-form {
    width: 250px;
}

#navbar-search-form button[type="submit"] {
    width: 38px;
}

.post-form {
    margin-bottom: 20px;
}

.post-input,
.reply-input {
    resize: none;
    overflow: hidden;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.reply-input {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.char-counter {
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ddd;
    height: 36px;
    padding-top: 9px;
}

.post-submit,
.reply-submit {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.post-btns .btn:not(:last-child) {
    border-right: 1px solid #225 !important;
}

.btn-like.active {
    background-color: #fd6;
}

.btn-follow.active {
    background-color: #8df;
}

.post-btns .btn {
    width: 64px;
    height: 24px;
    color: #225;
    padding-top: 2px !important;
    font-size: larger !important;
    /*background-image: -webkit-gradient(linear,0 0,0 100%,from(#adb0b0),color-stop(6%,#878989),to(#7d7f7f)) !important;
    background-image: -webkit-linear-gradient(#adb0b0,#878989 6%,#7d7f7f) !important;
    background-image: -moz-linear-gradient(top,#adb0b0,#878989 6%,#7d7f7f) !important;
    background-image: linear-gradient(#adb0b0,#878989 6%,#7d7f7f) !important;*/
}

.post-btns .btn:hover {
    color: #26d !important;
}

.reply-form {
    display: none;
    clear: both;
}

.nospace {
    margin: 0 !important;
}

.nospace > div {
    padding: 0;
}

.list-users {
}

.user {
    margin-top: 10px;
    padding: 7px;
    box-shadow: 0px 1px 2px #888;
    background-color: #ddd;
}

.user .avatar {
    margin-right: 6px;
}

.user .username {
    font-weight: bold;
}

.user .username a {
    color: #000;
}

.user .id {
    color: #666;
    float: left;
    margin-right: 5px;
}

.user .firstname {
    float: left;
    margin-right: 4px;
}

.user-btns {
    float: right;
    margin-top: 32px;
    z-index: 1;
}

.user-btns .btn {
    width: 64px;
    height: 24px;
    color: #225;
    padding-top: 2px !important;
    font-size: larger !important;
    border: 1px solid #000;
}

.user-btns .btn:hover {
    color: #26d !important;
}

.post-list {
    padding-left: 10px;
    padding-right: 5px;
}

.post {
    margin-top: 10px;
    padding: 7px;
    box-shadow: 0px 1px 2px #888;
    overflow: hidden;
}

.post.depth-even {
    background-color: #eee;
}

.post.depth-odd {
    background-color: #ddd;
}

.post-ctrls {
}

.post-btns {
    float: right;
    z-index: 1;
}

.hashtag {
    font-weight: bold;
    display: block;
    float: left;
    box-shadow: 0px 1px 2px #888;
}

.hashtag a {
    display: block;
    width: auto;
    padding: 7px;
}

.hashtag a:hover {
    background-color: #68a;
    text-decoration: none;
}

.hashtag .hashtag-freq {
    display: inline;
    color: #aaa;
}

.clearfix {
    clear: both;
}

h3, h4, h5 {
    display: block;
    width: 100%;
    text-align: center;
}

form#resetpass {
    display: none;
}

.resetpass:hover form#resetpass {
    display: block;
}

.bold {
    font-weight: bold;
}

.hashtag-link {
    color: #000099;
}

.hashtag-link.active {
    font-weight: bold;
}

.post .like-count {
    float: right;
    width: 20px;
    margin-left: -10px;
    margin-right: -10px;
    font-weight: bold;
}

.sort-ctrl {
    width: 100%;
}

.sort-ctrl a {
    width: 25%;
}

.sort-arrow {
    float: right;
    width: 30px;
    position: absolute;
    right: 0;
    top: 10px;
}

#list-users {
    margin-bottom: 20px;
}
