/**
 * Main body stuff.
 */
html,
body {
  overflow: hidden;
}
body {
  background-color: #000000 !important;
  font-family: 'Ubuntu', 'Menlo', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
* {
  transition: all 0.25s ease-in-out;
}
.container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
.navbar {
  background-color: #000000 !important;
  height: 40px !important;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar.editor-toolbar {
  border-bottom: 1px solid white;
}
.navbar a {
  color: #ffffff !important;
}
.navbar a:hover {
  color: #00ff00 !important;
}
a.function-name {
  width: 200px;
  display: block;
}
input.function-name {
  background: transparent !important;
  color: #50ff50 !important;
  outline: none !important;
  border: none !important;
  padding-left: 3px !important;
  padding-top: 5px !important;
}
p {
  text-align: center;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f8f8f8;
}
marker {
  fill: #333;
}
g.selected rect {
  fill: #fae8ff;
}
g.selected:hover rect {
  fill: #fae8ff;
}
.link {
  fill: none;
  stroke: #00ffff;
  stroke-width: 6px;
  cursor: default;
}
.link.hidden {
  stroke-width: 0;
}
.link.selected {
  stroke: #ffffff;
}
.link:hover {
  stroke: #ffffff;
}
.connect-node rect {
  fill: #beffff;
}
a.function-name {
  cursor: pointer;
}
input.function-name {
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 6px;
}
.pin-delete {
  cursor: pointer;
}
.pin-delete circle {
  fill: #000000;
  stroke: #00ffff;
  stroke-width: 1px;
}
.pin-delete:hover circle {
  fill: #f00;
}
.pin-delete:active:not(.vanish) circle {
  fill: #fff;
  stroke: #000;
}
.pin-delete:active:not(.vanish) text {
  fill: #000;
}
.pin-delete text {
  fill: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 1;
}
.pin-add {
  cursor: pointer;
}
.pin-add circle {
  fill: #000000;
  stroke: #00ffff;
  stroke-width: 1px;
}
.pin-add:hover circle {
  fill: #080;
}
.pin-add:active:not(.vanish) circle {
  fill: #fff;
  stroke: #000;
}
.pin-add:active:not(.vanish) text {
  fill: #000;
}
.pin-add text {
  fill: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  opacity: 1;
}
.vanish circle {
  fill: rgba(255, 255, 255, 0);
  stroke-width: 0;
}
.vanish rect {
  fill: rgba(255, 255, 255, 0);
  stroke-width: 0;
}
.vanish text {
  opacity: 0;
}
.vanish use {
  opacity: 0;
}
.editor {
  background-color: #000000;
  cursor: default;
}
.input circle,
.output circle {
  stroke: #00ffff;
  fill: #007070;
}
.input.connected circle,
.output.connected circle {
  fill: #00ffff;
}
.node-header path {
  stroke: #00ffff;
  stroke-width: 2;
  fill: #000;
}
.node-header .node-label {
  cursor: pointer;
}
.node-header .node-label .node-function-name {
  cursor: inherit;
  user-select: none;
  font-size: 16px;
  color: #ffffff;
  fill: #ffffff;
}
.node-header .node-label:hover .node-function-name {
  fill: #00ff00;
}
text {
  font-family: 'Ubuntu', 'Menlo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.node .node-shape {
  fill: #000000;
  stroke: #00ffff;
  stroke-width: 2;
}
.node .node-delete circle {
  stroke: none;
  fill: rgba(0, 0, 0, 0);
}
.node .node-delete text {
  fill: rgba(0, 255, 255, 0);
  font-size: 22px;
  font-weight: bold;
  user-select: none;
}
.node .node-delete use {
  opacity: 0;
}
.node.selected .node-shape {
  stroke: #ffffff;
}
.node:hover .node-shape,
.node.selected .node-shape {
  fill: #203030;
}
.node:hover .node-delete,
.node.selected .node-delete {
  cursor: pointer;
}
.node:hover .node-delete circle,
.node.selected .node-delete circle {
  fill: #000000;
}
.node:hover .node-delete text,
.node.selected .node-delete text {
  fill: #ffffff;
}
.node:hover .node-delete use,
.node.selected .node-delete use {
  opacity: 1;
}
.node:hover .node-delete:hover circle,
.node.selected .node-delete:hover circle {
  fill: #ff0000;
}
.node .search-results .search-result.selected rect {
  fill: #606060;
  stroke: #000000;
}
.node .search-results .search-result.selected text {
  fill: #ffff00;
}
.node .search-results .search-result rect {
  fill: #000000;
  stroke: #d0d0d0;
  stroke-width: 1px;
}
.node .search-results .search-result text {
  fill: #ffffff;
}
.node .node-input > circle,
.node .node-output > circle {
  stroke: #00ffff;
  fill: #007070;
}
.node .node-input .value > rect,
.node .node-output .value > rect {
  fill: #a0ffff;
  stroke: none;
}
.node .node-input .value .value-types,
.node .node-output .value .value-types {
  display: none;
  opacity: 0;
}
.node .node-input .value .value-types > rect,
.node .node-output .value .value-types > rect,
.node .node-input .value .value-types > circle,
.node .node-output .value .value-types > circle {
  stroke: #203030;
  fill: #203030;
}
.node .node-input .value:hover > rect,
.node .node-output .value:hover > rect,
.node .node-input .value:active > rect,
.node .node-output .value:active > rect,
.node .node-input .value.edit > rect,
.node .node-output .value.edit > rect {
  fill: #203030;
  stroke: #00ffff;
  stroke-width: 2px;
}
.node .node-input .value:hover > text,
.node .node-output .value:hover > text,
.node .node-input .value:active > text,
.node .node-output .value:active > text,
.node .node-input .value.edit > text,
.node .node-output .value.edit > text {
  fill: #50ff50;
}
.node .node-input .value:hover .value-types .value-type text,
.node .node-output .value:hover .value-types .value-type text,
.node .node-input .value:active .value-types .value-type text,
.node .node-output .value:active .value-types .value-type text,
.node .node-input .value.edit .value-types .value-type text,
.node .node-output .value.edit .value-types .value-type text {
  fill: rgba(255, 255, 255, 0);
}
.node .node-input .value:hover .value-types .value-type rect,
.node .node-output .value:hover .value-types .value-type rect,
.node .node-input .value:active .value-types .value-type rect,
.node .node-output .value:active .value-types .value-type rect,
.node .node-input .value.edit .value-types .value-type rect,
.node .node-output .value.edit .value-types .value-type rect,
.node .node-input .value:hover .value-types .value-type circle,
.node .node-output .value:hover .value-types .value-type circle,
.node .node-input .value:active .value-types .value-type circle,
.node .node-output .value:active .value-types .value-type circle,
.node .node-input .value.edit .value-types .value-type circle,
.node .node-output .value.edit .value-types .value-type circle {
  stroke: rgba(0, 255, 255, 0);
  stroke-width: 1;
  fill: #000000;
}
.node .node-input .value:hover .value-types .value-type:hover,
.node .node-output .value:hover .value-types .value-type:hover,
.node .node-input .value:active .value-types .value-type:hover,
.node .node-output .value:active .value-types .value-type:hover,
.node .node-input .value.edit .value-types .value-type:hover,
.node .node-output .value.edit .value-types .value-type:hover {
  cursor: pointer;
}
.node .node-input .value:hover .value-types .value-type:hover text,
.node .node-output .value:hover .value-types .value-type:hover text,
.node .node-input .value:active .value-types .value-type:hover text,
.node .node-output .value:active .value-types .value-type:hover text,
.node .node-input .value.edit .value-types .value-type:hover text,
.node .node-output .value.edit .value-types .value-type:hover text {
  fill: #00ff00;
}
.node .node-input .value:hover .value-types .value-type:hover rect,
.node .node-output .value:hover .value-types .value-type:hover rect,
.node .node-input .value:active .value-types .value-type:hover rect,
.node .node-output .value:active .value-types .value-type:hover rect,
.node .node-input .value.edit .value-types .value-type:hover rect,
.node .node-output .value.edit .value-types .value-type:hover rect,
.node .node-input .value:hover .value-types .value-type:hover circle,
.node .node-output .value:hover .value-types .value-type:hover circle,
.node .node-input .value:active .value-types .value-type:hover circle,
.node .node-output .value:active .value-types .value-type:hover circle,
.node .node-input .value.edit .value-types .value-type:hover circle,
.node .node-output .value.edit .value-types .value-type:hover circle {
  fill: #203030;
  stroke: #00ffff;
}
.node .node-input .value:hover .value-types .value-type.active,
.node .node-output .value:hover .value-types .value-type.active,
.node .node-input .value:active .value-types .value-type.active,
.node .node-output .value:active .value-types .value-type.active,
.node .node-input .value.edit .value-types .value-type.active,
.node .node-output .value.edit .value-types .value-type.active {
  cursor: inherit;
}
.node .node-input .value:hover .value-types .value-type.active rect,
.node .node-output .value:hover .value-types .value-type.active rect,
.node .node-input .value:active .value-types .value-type.active rect,
.node .node-output .value:active .value-types .value-type.active rect,
.node .node-input .value.edit .value-types .value-type.active rect,
.node .node-output .value.edit .value-types .value-type.active rect,
.node .node-input .value:hover .value-types .value-type.active circle,
.node .node-output .value:hover .value-types .value-type.active circle,
.node .node-input .value:active .value-types .value-type.active circle,
.node .node-output .value:active .value-types .value-type.active circle,
.node .node-input .value.edit .value-types .value-type.active circle,
.node .node-output .value.edit .value-types .value-type.active circle {
  visibility: hidden;
}
.node .node-input .value.edit .value-types,
.node .node-output .value.edit .value-types {
  display: inherit;
  opacity: 1;
}
.node .node-input .value.error rect,
.node .node-output .value.error rect {
  fill: #800000;
  stroke: #ff4040;
}
.node .node-input.connected circle,
.node .node-output.connected circle {
  fill: #00ffff;
}
.node .node-input.connected .value,
.node .node-output.connected .value {
  display: none;
}
input.edit {
  color: #50ff50;
}
input.edit.error {
  color: #ff4040;
}
input.totally-unique-text-edit-class {
  outline: 4px solid red;
}
p:focus {
  outline: none;
}
p::-moz-selection {
  background: #009090;
  color: #00ffff;
  font-weight: 900;
}
p::-webkit-selection {
  background: #009090;
  color: #00ffff;
  font-weight: 900;
}
p::selection {
  background: #009090;
  color: #00ffff;
}
p {
  font-family: 'Ubuntu', 'Menlo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.node-title-edit {
  color: #50ff50;
}
