{% extends "global.html" %}

{% block title %}Contribute{% endblock %}

{% block include %}
    <script src="/static/scripts/nodes.js"></script>
    <link href="/static/css/graph-creator.css" rel="stylesheet"/>
{% endblock %}

{% block requires %}
    {% include "value_modal.html" %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default editor-toolbar">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a class="function-name"></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
