{% extends "global.html" %}

{% block title %}Contribute{% endblock %}

{% block include %}
    <script src="/static/scripts/nodes.js"></script>
    <link href="/static/css/graph-creator.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                        <button type="button" class="btn btn-primary save-btn">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </li>
                    <li><div class="function-name"></div></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
