<div id="valueModal" class="modal fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Input Value</h3>
    </div>
    <div class="modal-body">
        <select class="selectpicker">
            <option>String</option>
            <option>Rope</option>
            <option>Twine</option>
            <option>Cable</option>
            <option>Straw</option>
            <option>Spidey Silk</option>
        </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Save</button>
    </div>
</div>
