<div id="valueModal" class="modal fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Input Value</h3>
    </div>
    <div class="modal-body">
        <select class="selectpicker">
            <option>None</option>
            <option>Error</option>
            <option>String</option>
            <option>Number</option>
            <option>Boolean</option>
            <option>Object</option>
            <option>Set</option>
            <option>List</option>
            <option>Function</option>
        </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Save</button>
    </div>
</div>
